
  .ict{
  /*padding:8% 20% 12%; */
  padding: 5% 0;
  border: double blue;
  /*border-bottom: 2px;*/
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 20px;
  background: rgb(230, 230, 238);
}
.ict h1{
  color: black;
 letter-spacing: 1px;
 /*text-transform: uppercase;*/
}
.blocks{
  margin: 50px 0;
}
.fa-user-graduate,.fa-user-shield,.fa-user-tie{
   color: rgba(20, 22, 152,0.7);
   
}
.loginblock{
  text-align: center;
  background: #fff;
  border: medium none;
  padding: 50px;
  border-radius: 3px;
  transition: 0.3s;
  width: 90%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  
}
.loginblock:hover{
  
  transform: translateY(-20px) 
}
.loginblock p{
  font-size: 30px;
  color: black;
}
.lbtn{
  border:1px solid blue;
  background: white;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 18px;

}
.lbtn:hover{
  background: rgba(20, 22, 152,0.7);
  color: white;
}
/****************************admin Login modal**************************/
.invaliddata{
  color:red;
  display: none;
  text-align: center;
}
/****************************admin Login modal end**************************/

/****************************Student Login modal**************************/
.login-text{
  margin-bottom: 20px;
  padding: 20px;
  color: #ff5722;
}
.login-form{
   padding: 10px;
}
.loginbtn{
  padding: 10px 30px;
  border: none;
  background: #ff5722;
}
.signupbtn{
  font-size: 20px;
}
/****************************Student Login modal end**************************/

/****************************Student register modal **************************/
#academic_information,#account_information{
      display:none;
}
.signup-txt{
  margin: 5px 0 10px 0;
  text-align: center;
  font-size: 35px;
  color: #673AB7;
  font-weight: normal;

}
#myform input[type=text],input[type=password],input[type=email],input[type=date],
input[type=file],
#myform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}
.signup-legend{
   text-align: center;
}
.nxtbtn,.prvsbtn,.submit-btn,.Preview-btn{
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    padding: 10px 5px;
    float: right;
}
.nxtbtn{
    background: #673AB7;
    margin: 10px 0px 10px 5px;  
}
.prvsbtn{    
    background: #673AB7;   
    margin: 10px 5px 10px 5px;  
}
.submit-btn{
    background: #673AB7;
    margin: 10px 0px 10px 5px;
}
.Preview-btn{   
    background: #673AB7;    
    margin: 10px 5px 10px 5px;   
}
.help-block{
  color:red;
}
img{
  max-width: 180px;
}
input[type=file]{
  padding: 10px;
}
/****************************Student register modal end**************************/
