*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************************Navbar*********************************** */
 .navbar{
 /*background: #1B1D9F ;
 background:rgba(20, 22, 152,0.8);
 background: rgb(65, 154, 236);
 background: rgb(30, 104, 173);
 background: rgb(96, 70, 189);*/
 background: rgb(98, 74, 187);
}
.navbar-nav li a{
	color:white;
	text-decoration: none;
	font-size: 16px;
  /*text-transform: uppercase;*/
}
.navbar-nav li {
	margin-right: 30px;
	border-right: 5px;
}
.fa-address-card,.fa-house-user,.fa-school,.fa-address-book{
	color: white;
}

#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-style: bold;
    color: white;
 }
.clockbg{
	padding: 10px;
}
/*****************************Navbar End****************************** */
.header{ 
  /*background-image:url('image/fmugate3.jpg');
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 18vh;
}
@media screen and (max-width: 420px){
   .header{
     height: 30vh;
  }
}
/*****************************Header End****************************** */
/*****************************footer****************************** */
footer{
  bottom: 0;
  background-color:rgb(111, 84, 219);
  padding: 20px 0;
  text-align: center;
  color:white
}
/*****************************footer End****************************** */