main{
  background: white;
}
.sidenav{
  width: 100%;
  /*height: 80vh;*/
  border: 1px solid lightblue;
 /* background: rgb(13, 12, 58);*/
 background: rgb(157, 156, 228);
 
}
.profileimg img{
   border: 2px solid;
   height: 100px;
   width: 100px;
   margin-top: 10px;
}
.mainbox{
  width: 100%;
  height: auto;
  border: 1px solid white;
  background: gainsboro;
  margin-left: 0px;   
}
.box1{
  border: 1px solid gainsboro;
  margin: 10px 0px;
  font-size: 23px;
  color: white;
  padding: 50px 0px;
  text-align: center;
  transition: 0.5s;
}
.box1:hover{
   transform: scale(0.92); 
}
.box1 a{
  color: white;
  text-decoration:none; 
}
.b1{background: rgb(63, 192, 31);}
.b2{background: orange;}
.b3{background: rgb(173, 28, 209);}
.b4{background: rgb(238, 124, 181);}
.b5{background: rgb(86, 114, 240);}
.list,.profileimg{
  display: flex;
  justify-content: center;
}
.list ul{
  margin-left: 10%;
  list-style: none;
  font-size: 18px;
}
.list ul li a{
  color: white;
  text-decoration: none;

}
.list ul li a:hover{
  color: black;
  width: 100%;
}
@media screen and (max-width: 480px){
   .c1{
    padding-top:20px; 
   }
   .sidenav{
    background: white;
    border: none;
    display: flex;
    height: 100%;
    
   }
   .list ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    
   }
   .list ul li a{
        margin: 0 10px;
        color: black;
   }

}
/****************************Add Techer Button***********************/
.addtchrbtn{ 
  padding: 5px 20px;
  background:blue;
  color:white;
  border: none;
}