
  main{
  width: 100%;
 background:#ccc;
  position: relative;  
}
 
.calender,.takeattendance{
 
  color: black;
  margin-top: 20px;  
}
.calender{
   background: white;
}
.takeattendance{
  /*height: 450px;*/
  /*overflow: auto;*/

}
.heading{
  background: white;
  padding: 10px 10px; 
}

.table{
  margin-left: 0px;
  margin-top: 10px;
  background: white;
  font-size: 16px;
}
.takeattendancebtn{
  border: none;
  padding: 10px 30px;
  background: green;
  color:white;
}
.t1{
 background: white;
 margin-top: 0;
}
tbody{
  height:200px;
  overflow-y:auto;
}
.check{
  background: transparent;
}

 